# I Have started the Python
if you want to create the heading select the heading and then press  shift+enter
to see the default options press tab

In [28]:
print("Hello first python program")

Hello first python program

In [29]:
my_str="Bhiki Pallai"
print(my_str.isalnum())
print(my_str.endswith('b'))
print(my_str.isdigit())

False
False
False

In [30]:
lit=[]
type(lit)

list

In [31]:
l=[1,2,3,4]
l.append(5)
print(l)
l.append(['bhiki',10])
print(l)
l.pop()
print(l)
sum(l)
# l.count(2) count the 2 in the list

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, ['bhiki', 10]]
[1, 2, 3, 4, 5]

15

In [32]:
l=[1,2,3,4]
l.index(1,0,3)
print(min(l))
print(max(l))
# here 1 is value 0,3 is inicating the index

1
4

In [33]:
l=[1,2,3,4]

# Set and tuples And Dictionary

In [35]:
setVar=set()
print(type(setVar))

<class 'set'>

In [37]:
setVar={1,1,2,3,4}
print(setVar)
# setVar[0] can not add idexing

{1, 2, 3, 4}

TypeError: 'set' object is not subscriptable

In [39]:
setVar={1,1,2,3,4}
setVar1={1,2,3,4,5}
setVar.intersection(setVar1)

{1, 2, 3, 4}

In [53]:
setVar={1,1,2,3,4}
setVar1={1,2,3,4,5}
setVar1.difference(setVar)

{5}

# dictionaries

In [55]:
my_car={'car1':'Rolce Royce','car2':'BMW','car3':'Audi'}
print(my_car)
print(type(my_car))

{'car1': 'Rolce Royce', 'car2': 'BMW', 'car3': 'Audi'}
<class 'dict'>

In [57]:
my_car['car3']
# this is how indexing work

'Audi'

In [61]:
# get the keys from dictionary
for i in my_car:
    print(i)

car1
car2
car3

In [63]:
# get the car items in key value pair
for i in my_car.items():
    print(i)

('car1', 'Rolce Royce')
('car2', 'BMW')
('car3', 'Audi')

In [64]:
# get the values from the dictonaries
for b in my_car.values():
    print(b)

Rolce Royce
BMW
Audi

In [66]:
# add the values in car
my_car['car4']='ferrari'
my_car

{'car1': 'Rolce Royce', 'car2': 'BMW', 'car3': 'Audi', 'car4': 'ferrari'}

In [ ]:
# replacing the values
my_car['car2']='Audi'
my_car

# Nested Dictionaries

In [68]:
Mycar1={'Audi':1960}
Mycar2={'BMW':2022}
Mycar3={'RolceRoyce':2030}
mydict={'car1':Mycar1,'car2':Mycar2,'car3':Mycar3}
mydict

{'car1': {'Audi': 1960}, 'car2': {'BMW': 2022}, 'car3': {'RolceRoyce': 2030}}

In [71]:
# get the value from nested dictionaries
mydict['car1']

1960

In [72]:
mydict['car1']['Audi']

1960

In [73]:
# manipulate the value of nested dictionaries
mydict['car1']['Audi']=1980
mydict

{'car1': {'Audi': 1980}, 'car2': {'BMW': 2022}, 'car3': {'RolceRoyce': 2030}}

# Tuples
start with ()

In [74]:
tuple1 = ("apple", "banana", "cherry")
tuple1

('apple', 'banana', 'cherry')

In [75]:
# put the indexing values
tuple1[0]

'apple'

In [77]:
tuple1.index('apple')

0

In [78]:
tuple1.count('apple')

1